<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style2.css">
    <title>Document</title>
</head>

<body>
    <div class="login">
        <h2>405 FOUND</h2>
        <header>
            Welcome! Please Sign-Up to continue.
        </header>
        <form action="/signup" method="POST">
            <div class="field email">
                <div class="input-area">
                    <input type="text" placeholder="Email-Address" name="email">
                </div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input type="password" placeholder="Password" name="password">
                </div>
            </div>
             <h4>By signing up, you agree to our Terms and Conditions.</h4>
            <input type="submit" value="Sign-Up">

        </form>
        <div class="sign-txt">Already have an account ? <a href="login"> Login</a></div>
    </div>
</body>

</html>